@import "../../styles/variables", "../../styles/functions";
.news {
  width: 100%;
  min-height: rem(1176);
  padding: rem(177) 0 rem(253);

  &__container {
    @include main-container();
  }

  &__titles {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
    align-items: flex-end;
    justify-content: space-between;
  }

  &__titles-wrapper {
    width: rem(702);
  }

  &__subtitle {
    @include subtitleStyle();
  }

  &__title {
    margin-top: rem(8);
    @include titleStyle();
  }

  &__content,
  &__content-full {
    margin-top: rem(48);
    display: flex;
    gap: rem(115) rem(50);
    justify-content: center;
  }

  &__content-full{
    flex-wrap: wrap;
  }

  @media (max-width: 1230px) {
    &__content {
      flex-wrap: wrap;
    }
  }

  @include md-screens(){
    padding: rem(80) 0 rem(100);
  }
}
