@import "../../styles/variables", "../../styles/functions";

.gallery-card {
  flex: 0 1 rem(612);
  height: vw(583);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
