.cart {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1.25rem 0 9.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart__title-block {
  width: 100%;
  height: 23.4375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e3f1e9;
  background: url("../../../assets/cart/Pattern.svg") center/cover no-repeat, url("../../../assets/cart/bg-fruit.png") center/cover no-repeat;
}
.cart__title {
  padding-left: 1.0416666667vw;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 5.125rem;
}
.cart__main-block {
  margin-top: 7.34375vw;
  width: 100%;
  background-color: rgba(253, 176, 45, 0.16);
}
.cart__container {
  width: 76.0416666667vw;
  padding: 0 0.9375em;
  margin: 0 auto;
  padding: 7.7604166667vw 0 3.0729166667vw;
}
.cart__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart__order-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.78125vw;
}
.cart__order-image {
  display: block;
  border-radius: 1.875rem;
  width: 15.2083333333vw;
  height: 11.7708333333vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(253, 176, 45, 0.16);
  background-blend-mode: multiply;
  background-color: rgba(253, 176, 45, 0.16);
}
.cart__product-name {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.9375rem;
}
.cart__product-name span {
  margin-left: 0.125rem;
}
.cart__price.discount {
  font-weight: 600;
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  line-height: 1.2em;
  color: #b8b8b8;
  text-decoration: line-through;
}
.cart__discount-price, .cart__price {
  font: inherit;
}
.cart__order-form {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15.3645833333vw;
          flex: 1 1 15.3645833333vw;
  min-width: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  gap: 1.875rem;
  position: relative;
}
.cart__lable {
  display: inline-block;
  width: 7.2395833333vw;
  min-width: 4.375rem;
  margin-right: 1.25rem;
}
.cart__field {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-weight: 700;
  width: 6.9791666667vw;
  height: 4.1666666667vw;
  border-radius: 0.8333333333vw;
  color: #274c5b;
  border: 2px solid #274c5b;
  background-color: #ffffff;
}
.cart__close-btn {
  width: 3.3333333333vw;
  min-width: 2.3125rem;
  height: 2.3958333333vw;
  min-height: 1.6875rem;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #ffffff;
  background-color: #274c5b;
  position: absolute;
  top: 20%;
  right: -5.0520833333vw;
  border-radius: 0.8333333333vw;
  text-align: center;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.cart__close-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart__total-block {
  margin-top: 2.8645833333vw;
  min-width: 14.4791666667vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.9375rem;
}
.cart__total-block .sum {
  display: block;
  float: right;
}
.cart__total-block span {
  margin-left: 1.3020833333vw;
}
.cart__total-discount {
  margin-top: 1.6666666667vw;
}
.cart__form-wrapper {
  padding: 5.4166666667vw 4.4791666667vw 1.9791666667vw 6.7708333333vw;
}
.cart__btn {
  margin-top: 3.9583333333vw;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 767.98px) {
  .cart__total-block {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4375rem;
  }
  .cart__order-form {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
  .cart__order-image {
    display: none;
  }
  .cart__close-btn {
    top: 0;
    right: -7.1354166667vw;
  }
  .cart__product-name {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4375rem;
  }
}
@media (max-width: 600px) {
  .cart__close-btn {
    top: -5%;
    right: -10.78125vw;
  }
}/*# sourceMappingURL=CartPage.css.map */