.header__container {
  width: 83.125vw;
  width: 100%;
  min-height: 10.625vw;
  padding: 2.5rem 8.4375%;
  background-color: rgba(255, 255, 255, 0.8549019608);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-column-gap: 2.34375vw;
     -moz-column-gap: 2.34375vw;
          column-gap: 2.34375vw;
  z-index: 5;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
}
.header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.3645833333vw;
          flex: 0 0 10.3645833333vw;
}
.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.375vw;
          flex: 0 1 29.375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__user-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.8020833333vw;
          flex: 0 1 28.8020833333vw;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.25rem;
}
.header__user-panel .header__search {
  width: 19.6354166667vw;
}
.header__user-panel .header__cart {
  width: 8.28125vw;
}
.header__user-panel .burger-icon {
  display: none;
}
@media (max-width: 1230px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 3.125vw;
  }
  .header__navigation {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .header .navigation__list {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    padding: 0 8.4375%;
  }
  .header .logo {
    display: none;
  }
  .header .header__search {
    display: none;
  }
  .header__navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8549019608);
    z-index: -1;
    -webkit-transform: all 0.5s ease;
            transform: all 0.5s ease;
  }
  .header__navigation .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 7.2916666667vw;
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.375rem;
  }
  .header__navigation.active {
    left: 0;
  }
  .header .burger-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    height: 1.875rem;
    cursor: pointer;
    position: relative;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .burger-icon:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .header .burger-icon:hover span, .header .burger-icon:hover::before, .header .burger-icon:hover::after {
    background-color: #274c5b;
  }
  .header .burger-icon span, .header .burger-icon::before, .header .burger-icon::after {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #274c5b;
  }
  .header .burger-icon span {
    top: 45%;
  }
  .header .burger-icon::before, .header .burger-icon::after {
    content: "";
  }
  .header .burger-icon::before {
    top: 0;
  }
  .header .burger-icon::after {
    bottom: 0;
  }
  .header .burger-icon.active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-3px, -50%);
            transform: rotate(45deg) translate(-3px, -50%);
  }
  .header .burger-icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .burger-icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}/*# sourceMappingURL=Header.css.map */