.not-found__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 165%;
  color: #525c60;
}

.not-found {
  width: 100%;
  height: 46.7708333333vw;
  min-height: 43.75rem;
  background-color: #bbc9c9;
  background: url("../../../assets/notFound/background.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.not-found__container {
  width: 76.0416666667vw;
  padding: 0 0.9375em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.not-found__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3125rem;
          flex: 0 1 33.3125rem;
  min-width: 14.6875rem;
  min-height: 22.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.not-found__image {
  width: 31.375rem;
  min-width: 15.625rem;
  height: 13.6875rem;
  background: url("../../../assets/notFound/404.svg") center/cover no-repeat;
}
.not-found__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 5.125rem;
  text-align: center;
}
.not-found__text {
  font-size: clamp(1rem, 0.9375vw, 1.12rem);
  line-height: 1.66em;
  font-weight: 600;
  text-align: center;
}
.not-found__text::first-letter {
  text-transform: uppercase;
}
.not-found__actions {
  margin-top: 2.5rem;
  width: 27.7604166667vw;
}
.not-found__btn {
  width: 17.1875rem;
}
@media (max-width: 991.98px) {
  .not-found__title {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 3.625rem;
    font-weight: 800;
    line-height: 4rem;
  }
}
@media (max-width: 767.98px) {
  .not-found {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.5))), url("../../../assets/notFound/background.png") center/cover no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../../../assets/notFound/background.png") center/cover no-repeat;
  }
  .not-found__title {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.8125rem;
  }
  .not-found__btn {
    width: 14.6875rem;
  }
}
@media (max-width: 600px) {
  .not-found__container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .not-found__actions {
    width: 50%;
  }
  .not-found__image {
    width: 21.875rem;
    height: 11.25rem;
    background-size: 100%;
  }
}/*# sourceMappingURL=NotFoundPage.css.map */