.details .main-content__values, .details {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 165%;
  color: #525c60;
}

.details {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 7.1875rem 9rem 0;
  margin: auto;
  background-color: #ffffff;
}
.details__container {
  width: 76.0416666667vw;
  padding: 0 0.9375em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem 9rem;
}
.details__content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.5833333333vw;
  position: relative;
}
.details__image {
  width: 30.78125vw;
  height: 30.78125vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f9f8f8;
  background-blend-mode: multiply;
  border-radius: 1.875rem;
}
.details__category {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 1.6145833333vw;
  border-radius: 0.5rem;
  position: relative;
  top: 1.9791666667vw;
  left: 1.8229166667vw;
  color: #ffffff;
  padding: 0.3125rem 0.75rem 0.375rem;
  background-color: #274c5b;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.details .main-content {
  width: 39rem;
  padding-right: 0.75rem;
}
.details .main-content__close-btn {
  width: 4rem;
  height: 2.875rem;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #ffffff;
  background-color: #274c5b;
  position: absolute;
  top: 0.8854166667vw;
  right: -1.6145833333vw;
  border-radius: 1rem;
  text-align: center;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.details .main-content__close-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details .main-content__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.9375rem;
  text-transform: capitalize;
}
.details .main-content__rating {
  height: 1.1875rem;
  margin: 0.5625rem 0;
}
.details .main-content__price.discount {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #b8b8b8;
  text-decoration: line-through;
}
.details .main-content__discount, .details .main-content__price {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 2.125rem;
  color: #274c5b;
  margin-left: 0.5625rem;
}
.details .main-content__text {
  margin-top: 1.6875rem;
  -webkit-mask-position: 1.6875rem;
          mask-position: 1.6875rem;
}
.details .main-content__form {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  margin-top: 1.6875rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.details .main-content__lable {
  display: inline-block;
  width: 5.625rem;
}
.details .main-content__field {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-weight: 700;
  width: 8.375rem;
  height: 5rem;
  border-radius: 1rem;
  color: #274c5b;
  border: 2px solid #274c5b;
}
.details__extra {
  width: 59.21875vw;
  margin-left: 4.5625rem;
}
.details__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  margin-top: 5.625rem;
}
.details__actions-btn {
  width: 17.5vw;
  min-width: 16.5625rem;
  min-height: 4.1666666667vw;
  border-radius: 1rem;
  vertical-align: middle;
  text-align: center;
  background-color: #eff6f1;
  color: #274c5b;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 2.125rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.details__actions-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details .active-btn {
  background-color: #274c5b;
  color: #ffffff;
}
.details__description {
  margin-top: 1.6875rem;
  width: 100%;
  min-height: 5.625rem;
  text-align: center;
}
@media (max-width: 991.98px) {
  .details__content-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .details__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .details {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .details__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .details .main-content__close-btn {
    right: 1.5625vw;
  }
}
@media (max-width: 500px) {
  .details .main-content__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .details .main-content__close-btn {
    right: 9.375vw;
  }
  .details__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}/*# sourceMappingURL=ProductDetails.css.map */