@import "../../styles/variables", "../../styles/functions";

.btn {
  width: rem(220);
  min-height: rem(79);
  border-radius: rem(16);
  border: rem(2) solid transparent;
  font-weight: 700;
  font-family: $title-font-name;
  transition: transform 0.3s;

  &:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__icon {
    margin-left: rem(10);
  }
  .gallery-card & {
    width: rem(320);
    min-height: rem(96);
  }
  
}
.bright-btn.btn {
  background-color: $yellow-btn;
}
.dark-btn.btn {
  background-color: $main-text-color;
  color: $white-color;
}
.white-btn.btn {
  background-color: $white-color;
  border-radius: rem(20);
}
.yellow-btn.btn {
  background-color: $yellow-btn;
  color: $white-color;
}
.btn-border {
  border-color: $main-text-color;
}
