@import "../../styles/variables", "../../styles/functions";

.offer {
  width: 100%;
  min-height: rem(1050);
  background-color: $main-text-color;
  padding: rem(201) 0 rem(200);
  position: relative;

  &__container {
    @include main-container();
  }
  &__subtitle {
    @include subtitleStyle();
  }
  &__title {
    @include titleStyle();
    color: $white-color;
    margin-top: rem(8);
  }
  &__content {
    margin-top: rem(50);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20);
  }

  &__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(244, 244, 244, 0.82);
    display: flex;
    align-items: center;
  }
}
