@import "../../styles/variables", "../../styles/functions";
.details {
  min-height: fit-content;
  padding: rem(115) rem(144) 0;
  margin: auto;
  @extend %main-text-style;
  background-color: $white-color;

  &__container {
    @include main-container();
    display: flex;
    flex-direction: column;
    padding: 0 rem(16) rem(144);
  }
  &__content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: vw(88);
    position: relative;
  }

  &__image {
    width: vw(591);
    height: vw(591);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $white-smoke;
    background-blend-mode: multiply;
    border-radius: rem(30);
  }
  &__category {
    width: fit-content;
    min-height: vw(31);
    border-radius: rem(8);
    position: relative;
    top: vw(38);
    left: vw(35);
    color: $white-color;
    padding: rem(5) rem(12) rem(6);
    background-color: $main-text-color;
    font-size: rem(15);
    line-height: rem(20);
  }
  .main-content {
    width: rem(624);
    padding-right: rem(12);

    &__close-btn {
      width: rem(64);
      height: rem(46);
      @include titleStyle(700, 20, 23);
      color: $white-color;
      background-color: $main-text-color;
      position: absolute;
      top: vw(17);
      right: vw(-31);
      border-radius: rem(16);
      text-align: center;
      vertical-align: bottom;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    &__title {
      @include titleStyle(600, 40, 47);
      text-transform: capitalize;
    }
    &__rating {
      height: rem(19);
      margin: rem(9) 0;
    }
    &__values {
      @extend %main-text-style;
    }
    &__price.discount {
      font-weight: 600;
      font-size: rem(20);
      line-height: rem(27);
      color: #b8b8b8;
      text-decoration: line-through;
    }
    &__discount,
    &__price {
      font-weight: 700;
      font-size: rem(25);
      line-height: rem(34);
      color: $main-text-color;
      margin-left: rem(9);
    }
    &__text {
      margin-top: rem(27);
      mask-position: rem(27);
    }
    &__form {
      @include titleStyle(700, 20, 23);
      margin-top: rem(27);
      width: auto;
      display: flex;
      align-items: center;
      gap: rem(20);
    }
    &__lable {
      display: inline-block;
      width: rem(90);
    }
    &__field {
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      font-weight: 700;
      width: rem(134);
      height: rem(80);
      border-radius: rem(16);
      color: $main-text-color;
      border: 2px solid $main-text-color;
    }
  }
  &__extra {
    width: vw(1137);
    margin-left: rem(73);
  }
  &__actions {
    display: flex;
    justify-content: center;
    gap: rem(20);
    margin-top: rem(90);
  }
  &__actions-btn {
    width: vw(336);
    min-width: rem(265);
    min-height: vw(80);
    border-radius: rem(16);
    vertical-align: middle;
    text-align: center;
    background-color: #eff6f1;
    color: $main-text-color;
    font-weight: 700;
    font-size: rem(25);
    line-height: rem(34);
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  .active-btn {
    background-color: $main-text-color;
    color: $white-color;
  }
  &__description {
    margin-top: rem(27);
    width: 100%;
    min-height: rem(90);
    text-align: center;
  }
  @include md-screens() {
    &__content-wrapper {
      flex-wrap: wrap;
    }
    &__actions {
      flex-wrap: wrap;
    }
  }
  @include sm-screens() {
    padding-left: rem(10);
    padding-right: rem(10);
    &__container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .main-content__close-btn {
      right: vw(30);
    }
  }
  @media (max-width: 500px) {
    .main-content__form {
      flex-wrap: wrap;
    }
    .main-content__close-btn {
      right: vw(180);
    }
    &__form{
      flex-wrap: wrap;
    }
  }
}
