@import "../../styles/variables", "../../styles/functions";

.header {
  &__container{
    width: vw(1596);
    width: 100%;
    min-height: vw(204);
    padding: rem(40) percent(162, $max-width);
    background-color: $header-bg;
    display: flex;
    align-items: center;
    position: fixed;
    column-gap: vw(45);
    z-index: 5;
    top: 0;
    left: 0;
    font-family: $title-font-name;
  }

  .logo {
    flex: 0 0 vw(199);
  }
  
  &__navigation {
    flex: 0 1 vw(564);
    display: flex;
    justify-content: flex-end;
  }
  
  &__user-panel {
    flex: 0 1 vw(553);
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: rem(20);

    .header__search {
      width: vw(377);
    }
    .header__cart {
      width: vw(159);
    }
    .burger-icon {
      display: none;
    }
  }

  @media (max-width: 1230px) {
    &__container{
      flex-wrap: wrap;
      row-gap: vw(60);
    }

    &__navigation {
      order: 4;
      flex: 1 1 100%;
    }

    .navigation__list {
      width: 100%;
      justify-content: space-around;
    }
  }

  @include sm-screens() {
    &__container{
      padding: 0 percent(162, $max-width);
    }

    .logo {
      display: none;
    }

    .header__search {
      display: none;
    }

    &__navigation {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $header-bg;
      z-index: -1;
      // overflow: auto;
      transform: all 0.5s ease;

      .navigation__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: vw(140);
        @include titleStyle(800, 32, 38);
      }

      &.active {
        left: 0;
      }
    }

    .burger-icon {
      flex: 0 0 rem(40);
      height: rem(30);
      cursor: pointer;
      position: relative;
      z-index: 5;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);

        span,
        &::before,
        &::after {
          background-color: $main-text-color;
        }
      }

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: $main-text-color;
      }

      & span {
        top: 45%;
      }
      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &.active::before {
        top: 50%;
        transform: rotate(45deg) translate(-3px, -50%);
      }

      &.active::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &.active span {
        transform: scale(0);
      }
    }
  }
}
