@import "../../styles/variables", "../../styles/functions";

.about {
  width: 100%;
  min-height: rem(1067);
  background-color: $white-smoke;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../../assets/about/fruts.svg");
  background-position: top rem(87) left rem(100);
  background-repeat: no-repeat;
  background-size: 48% 81%;
  padding: rem(186) 0 rem(199);
  &__container {
    @include main-container();
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &__content {
    flex: 0 1 vw(702);
    display: flex;
    flex-direction: column;
    margin-top: rem(14);
    margin-left: auto;
    @extend %main-text-style;
  }
  &__subtitle {
    @include subtitleStyle();
  }
  &__title {
    @include titleStyle();
    width: vw(702);
    min-width: rem(450);
  }
  &__text {
    width: vw(702);
    min-width: rem(400);
  }

  &__list {
    margin-top: rem(46);
    margin-bottom: rem(46);
  }
  &__item {
    list-style-position: inside;
    width: rem(564);

    &.vegan-food {
      list-style-image: url("../../assets/about/veganFoodRect.svg");
    }
    &.email-box {
      list-style-image: url("../../assets/about/mailboxQualityRect.svg");
    }
  }
  &__item-content {
    display: inline-block;
    vertical-align: top;
    width: vw(444);
    min-width: rem(350);
  }

  &__item-title {
    @include titleStyle(800, 25, 29);
  }
  
  &__item-text {
    margin-top: rem(7);
  }

  @media (max-width: 1230px) {
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }

  @include md-screens() {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.8)
      ),
      url("../../assets/about/fruts.svg");
    background-repeat: no-repeat;
    &__content {
      width: 100%;
      margin-left: auto;
    }
  }
  @include sm-screens(){
    &__container {
      width: 100vw;
    }
    &__title{
      font-size:rem(40) ;
    }
  }
}
