@use "sass:math";
@import "_variables";

@function vw($px, $from: $max-width) {
  @return math.div($px, $from) * 100vw;
}
@function em($px, $current-size: 16) {
  @return math.div($px, $current-size) + em;
}
@function rem($px) {
  @return math.div($px, 16) + rem;
}
@function percent($px, $from) {
  @return math.div($px, $from) * 100%;
}

%main-text-style {
  font-family: $main-font-name;
  font-size: rem(18);
  line-height: 165%;
  color: $text-color;
}

@mixin main-container() {
  width: vw($container-width);
  padding: 0 em($container-padding);
  margin: 0 auto;
}

@mixin subtitleStyle($fontSize: 36) {
  font-family: $subtitle-font-name;
  color: $bg-light-green;
  font-size: rem($fontSize);
  font-weight: 400;
}

@mixin titleStyle($fontWeight: 800, $fontSize: 50, $lineHeight: 59) {
  font-family: $title-font-name;
  color: $main-text-color;
  font-size: rem($fontSize);
  font-weight: $fontWeight;
  line-height: rem($lineHeight);
}

@mixin lg-screens() {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin md-screens() {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm-screens() {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin xs-screens() {
  @media (max-width: $xs) {
    @content;
  }
}