@import "../../styles/variables", "../../styles/functions";

.subscribeForm {
  flex: 0 1 rem(577);
  display: flex;
  gap: rem(8);
  &__field {
    flex: 1 1 rem(349);
    border-radius: rem(16);
    background-color: #ffffff;
    line-height: rem(21);
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: size-rem(18);
    border: none;
    padding: rem(28) rem(31) rem(23);
    color: #ababab;
  }

  @include md-screens() {
    flex-wrap: wrap;
    justify-content: center;
    &__btn {
      width: 100%;
    }
  }
}
